@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {

    .navbar {
        width: 100%;
        background-color: #66BB6A;
        font-size: 24px;
        display: flex;
        padding-top: 2.5rem;
        padding-bottom: 1rem;



        img {
            width: 200px;
            margin-top: -5px;
            margin-left: 150px;

        }



    }



    #logo {
        width: 65%;


    }

    a {
        width: 20%;
        text-decoration: none;
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        font-weight: 700;



    }


}






.banner {
    background-image: url("./assets/Banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;


    .filtro {
        background: rgba(0, 0, 0, 0.4);
        height: inherit;
        padding: 200px 40px 40px 40px;
        display: inline-block;
        width: 100%;
        text-align: top;

    }



    h1 {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 15px;
        font-family: "Sansita Swashed", system-ui;
        color: white;
    }

    p {
        font-size: 1.2rem;
        width: 50vw;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
        font-weight: bold;
        color: white;
    }

    button {
        background-color: #66BB6A;
        color: white;
        border: none;
        padding: 20px 40px;
        border-radius: 30px;
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
    }
}


.cards {
    background-color: #f1f8c9;
    padding: 80px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #F1F8E9;



    .card {
        background-color: white;
        width: 20%;
        height: 390px;
        margin: 15px;
        padding-bottom: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);


        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
            height: 45%;

        }

        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 20px;

        }

        p {
            font-size: 15px;
            font-weight: 400;
            margin-top: 20px;
            text-align: center;
            height: 20%;
            padding-right: 20px;
            padding-left: 20px;

        }

        button {
            color: white;
            background-color: #66BB6A;
            border-radius: 29px;
            width: 150px;
            height: 49px;
            font-weight: 700;
            font-size: 18px;
            border: none;


        }
    }
}

.form-componentes {
    width: 550px;
    height: 500px;
}

.form-titulo {
    background-color: #E8F5E9;
    padding-bottom: 20px;
    justify-items: center;
    padding-top: 20px;



    h1 {
        color: #2A2A2A;
        font-family: "Roboto", sans-serif;
        font-size: 40px;
        font-weight: 700;



    }

    p {
        color: #767676;
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        text-align: center;
        padding-bottom: 20px;

    }


    form {


        h3 {
            color: #2A2A2A;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 10px;

        }

        input {
            border: none;
            font-weight: 700;
            font-size: 18px;
            width: 100%;
            padding: 10px;
            border-radius: 25px;
            padding-left: 35px;
            color: #8E8E8E;

        }

        .input-flex {
            display: flex;
            align-items: center;
            border-radius: 25px;
            background-color: white;
            padding: 10px;
            width: 100%;


            input {
                background-color: transparent;
                outline: none;
                flex-grow: 1;
                padding: 0;
                font-size: 18px;
                margin-left: 20px;

                &::placeholder {
                    color: #8E8E8E;
                }
            }

            .icone-seta {
                margin-left: 10px;
                display: flex;
                align-items: center;
                margin-right: 20px;
                color: #989898;

                img {
                    display: block;
                    width: 27px;
                    height: auto;

                }
            }
        }

    }

    button {
        border: none;
        background-color: #66BB6A;
        border-radius: 20px;
        color: #FFFFFF;
        padding: 24px;
        width: 545px;
        font-weight: 700;
        font-size: 20px;
        margin-top: 25px;



    }

}

footer {
    background-color: #66BB6A;
    color: #FFFFFF;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 550px;
    font-size: 18px;
    height: 100%;


}